# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / env
*.log
.env
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Wails / Go build output
GO/GuildSyncClient-/build/bin/
GO/GuildSync-Client/frontend/dist/
GO/GuildSync-Client/frontend/wailsjs/
GO/GuildSync-Client/frontend/node_modules/
GO/Filewatcher/*.exe
NodeJS/Guildsync-Server/data/

# Go
*.exe
*.test
*.out
*.env
*.db
*.db-wal
*.db-shm



coverage.out
