# Optional override for ESO SavedVariables directory.
# Leave blank to use the default:
# ~/Documents/Elder Scrolls Online/live/SavedVariables
#SAVED_VARS_DIR="D:\PUT\PATH\TO\SAVEDVARIABLES\DIRECTORY\HERE"
